<!DOCTYPE html>
<html>
<head>
	<title>Requests batcher</title>

	<!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
	
	<!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="../bower_components/angular/angular-csp.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="../bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->

    <style type="text/css">
		body {font-family: "Helvetica Neue", Arial, serif}
		.BashDashboard { text-align: center; color: gray; }
		.BashDashboard .count { font-size: 19px; font-weight: 600; }
		.buttons {padding: 5px;}
		button { margin: 0px 5px;}
	</style>
	
</head>
<body ng-app="app">
	<div data-ng-controller="BashSessionCtrl" data-ng-cloak>
		<div class="BashDashboard">
			Messages sent
			<div class="count">
				{{count}}
			</div>
			<div class="buttons">
				<button data-ng-click="startBash()">Start</button>
				<button data-ng-click="endBash()">Stop</button>
			</div>
		</div>
	</div>
	
	<!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js scripts/plugins.js -->
    <script src="../bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/affix.js"></script>
    <script src="../bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/alert.js"></script>
    <script src="../bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/dropdown.js"></script>
    <script src="../bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tooltip.js"></script>
    <script src="../bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/modal.js"></script>
    <script src="../bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/transition.js"></script>
    <script src="../bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/button.js"></script>
    <script src="../bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/popover.js"></script>
    <script src="../bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/carousel.js"></script>
    <script src="../bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/scrollspy.js"></script>
    <script src="../bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/collapse.js"></script>
    <script src="../bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tab.js"></script>
    <!-- endbuild -->

    <!-- build:js scripts/main.js -->
    <script src="scripts/main.js"></script>
    <!-- endbuild -->
    
    <script src="../bower_components/angular/angular.js"></script>

    <script type="text/javascript">

		var _queue = window.requestQ().run();

		var app = angular.module('app', []);

		app.controller('BashSessionCtrl', ['$scope', '$http', function($scope, $http){
			$scope.count = 0;

			$scope.sendMessage = function(){
				$scope.$apply(function(){
					_queue.add({
						url: 				'http://localhost:8124/hello',
						type:        		'GET',
						crossDomain: 		true,
						dataType:    		'json',
						contentType: 		'application/json',
						data:						{}
					});
					$scope.count++
				});
			};

			$scope.bashInterval = null;

			$scope.startBash = function(){
				$scope.bashInterval = window.setInterval($scope.sendMessage, 1000)
			}

			$scope.endBash = function(){
				window.clearInterval($scope.bashInterval)
			}

		}]);

	</script>

</body>
</html>
