<!DOCTYPE html>
<html ng-app>
<head>
	<title></title>
	<script src="//code.jquery.com/jquery-1.11.0.min.js" async></script>


	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
	<script type="text/javascript" src="scripts/main.js"></script>
	
	<style type="text/css">
		body {font-family: "Helvetica Neue", Arial, serif}
		.BashDashboard { text-align: center; color: gray; }
		.BashDashboard .count { font-size: 19px; font-weight: 600; }
		.buttons {padding: 5px;}
		button { margin: 0px 5px;}
	</style>
	<script type="text/javascript">

		window.queue = window.requestQ().run();

		function BashSessionCtrl($scope, $http){
			$scope.count = 0;

			$scope.sendMessage = function(){
				$scope.$apply(function(){
					window.queue.add({
						url: 						'http://localhost:8124/hello',
						type:        		'GET',
						crossDomain: 		true,
						dataType:    		'json',
						contentType: 		'application/json',
						data:						{}
					});
					$scope.count++
				});
			};

			$scope.bashInterval = null;

			$scope.startBash = function(){
				$scope.bashInterval = window.setInterval($scope.sendMessage, 1000)
			}

			$scope.endBash = function(){
				window.clearInterval($scope.bashInterval)
			}

		}
	</script>
</head>
<body>
<div data-ng-controller="BashSessionCtrl">
	<div class="BashDashboard">
		Messages sent
		<div class="count">
			{{count}}
		</div>
		<div class="buttons">
			<button data-ng-click="startBash()">Start</button>
			<button data-ng-click="endBash()">Stop</button>
		</div>
	</div>
</div>
</body>
</html>
